<launch>
    <param name="Raspimouse/robot_description" command="$(find xacro)/xacro --inorder '$(find raspi_description)/urdf/robot_no_diff.urdf.xacro'" />
    <rosparam command="load" file="$(find raspi_control)/config/raspberryPiMouse_control.yaml" />
    <group ns="Raspimouse">
<!-- raspimouse_ros_2 --> 
        <node pkg="raspimouse_ros_2" name="buzzer" type="buzzer.py" required="true" />
        <node pkg="raspimouse_ros_2" name="lightsensors" type="lightsensors" required="true" >
            <param name="frequency" value="10" />
        </node>
        <node pkg="raspimouse_ros_2" name="leds" type="leds" required="true"  />
        <node pkg="raspimouse_ros_2" name="buttons" type="buttons" required="true" />

<!-- raspimouse_ros_examples -->
        <include file="$(find raspimouse_ros_examples)/launch/teleop.launch" >
            <arg name="joy" value="true" />
            <arg name="mouse" value="false" />
            <arg name="joyconfig" value="dualshock4" />
        </include>
    
        <node name="controller_spawer" pkg="controller_manager" type="spawner" respawn="false" output="screen" args="diff_drive_controller joint_state_controller" />
        <node name="robot_state_publisher" pkg="robot_state_publisher" type="robot_state_publisher" respawn="false" output="screen" />
        <node name= "RaspberryPiMouse" pkg="raspi_control" type="RasPi_HW" output="screen" respawn="false" /> 
    </group>
</launch>
